[submodule "tests/videos"]
 	path = tests/videos
 	url = https://gitlab.com/kicer86/video-files.git
[submodule "VOF/VOF-media"]
	path = VOF/VOF-media
	url = https://gitlab.com/kicer86/video-files.git
